<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Create">
    <classes>
       <class name="com.projects.testcases.CreateComputer"/> 
    </classes>
  </test> 
  
  <test name="Edit">
    <classes>
       <class name="com.projects.testcases.EditandsaveComputer"/> 
    </classes>
  </test>
  <test name="Delete">
    <classes>
       <class name="com.projects.testcases.SearchAndDelete"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
